In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("summer.csv")

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
athlete = summer["Athlete"]

In [6]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [7]:
athlete.tail(5)

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [8]:
type(athlete)

pandas.core.series.Series

In [10]:
athlete.shape

(31165,)

In [11]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [12]:
athlete.size

31165

In [13]:
athlete.count()

31165

In [14]:
athlete.min()

'AABYE, Edgar'

In [15]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [17]:
len(athlete.unique())

22762

In [19]:
athlete.nunique(dropna=False)

22762

In [20]:
athlete.value_counts()

PHELPS, Michael               22
LATYNINA, Larisa              18
ANDRIANOV, Nikolay            15
MANGIAROTTI, Edoardo          13
ONO, Takashi                  13
                              ..
HILL, Clinton                  1
MIKKOLAINEN, Kaasrlo Eino      1
GRIGORAS, Ioan                 1
TIEDT, Fred                    1
GEESINK, Antonius Johannes     1
Name: Athlete, Length: 22762, dtype: int64

In [21]:
athlete.value_counts(sort=True, ascending=True)

WERGINZ, Walter         1
DENSHAM, Erin           1
PERNAJA, Ilmari         1
LI, Ge                  1
YOUNG, Kevin Curtis     1
                       ..
SHAKHLIN, Boris        13
ONO, Takashi           13
ANDRIANOV, Nikolay     15
LATYNINA, Larisa       18
PHELPS, Michael        22
Name: Athlete, Length: 22762, dtype: int64

In [22]:
athlete.value_counts(sort=True, ascending=False, normalize=True).head()

PHELPS, Michael         0.000706
LATYNINA, Larisa        0.000578
ANDRIANOV, Nikolay      0.000481
MANGIAROTTI, Edoardo    0.000417
ONO, Takashi            0.000417
Name: Athlete, dtype: float64